* {
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box; }
  *:after {
    box-sizing: border-box; }
  *:before {
    box-sizing: border-box; }
  * header, * section, * footer {
    min-height: 100px; }

html, body, .container {
  height: 100%; }

@font-face {
  font-family: 'Red Moon Rising';
  src: url("../font/Red-Moon-Rising-3.0tf"); }
body {
  font-family: "Nunito", sans-serif; }

h1, h2 {
  font-family: "Red Moon Rising"; }

h3, h5 {
  color: black; }
  h3:hover, h5:hover {
    color: #ffb6ae; }

a {
  font-family: "Red Moon Rising"; }

p {
  font-size: 14px; }

header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-image: url(../img/background-3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  padding: 3em 3em;
  text-align: center; }
  header a {
    color: #FFF;
    font-size: 2em;
    margin: 0px 10px;
    padding: 10px 15px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    text-decoration: none; }
    header a::before, header a::after {
      position: absolute;
      opacity: 0;
      width: 0%;
      height: 2px;
      content: '';
      background: linear-gradient(to right, turquoise, silver, mistyrose, hotpink);
      transition: all 0.3s; }
    header a::before {
      left: 0px;
      top: 0px; }
    header a::after {
      right: 0px;
      bottom: 0px; }
    header a:hover::before, header a:hover::after {
      opacity: 1;
      width: 100%; }

.about-me {
  border-top: 100px solid black;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
  height: 500px;
  background: mistyrose;
  padding: 1em 3em; }
  .about-me .intro {
    flex-direction: column;
    padding: 20px 5px 5px 5px;
    height: 400px;
    font-size: .9em; }
    .about-me .intro img {
      height: 80%;
      align-self: flex-end;
      border: solid 5px black;
      border-radius: 100%;
      opacity: 0.7; }
      .about-me .intro img:hover {
        opacity: 1;
        transform: rotate(-10deg); }
  .about-me .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    width: 80%; }
    .about-me .content p {
      align-self: stretch;
      align-items: center;
      padding-top: 30px !important;
      min-width: 250px;
      letter-spacing: .1em;
      text-align: left;
      line-height: 1.8em;
      padding: 5px; }
      .about-me .content p span {
        font-weight: 700;
        font-size: 2em;
        text-align: left; }

.portfolio {
  display: flex;
  flex-direction: row;
  position: relative;
  background-image: url(../img/background-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  border-top: 100px solid black;
  padding-top: 50px; }
  .portfolio h2 {
    padding: 20px;
    color: white;
    background: black;
    display: flex;
    align-self: flex-start;
    margin: 0 auto; }
  .portfolio .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    position: absolute;
    top: 220px; }
  .portfolio .card {
    background-color: #6ce7db;
    border: 1px solid turquoise;
    border-radius: 3px;
    box-shadow: 0 2px 4px #e6e6e6;
    cursor: pointer;
    flex-basis: 25em;
    flex-grow: 1;
    margin: 0 1em 1.5em 1em;
    position: relative;
    transition: all 0.2s ease-in-out; }
    .portfolio .card .card-image {
      background-color: thistle;
      height: 200px;
      max-height: 200px;
      overflow: hidden; }
      .portfolio .card .card-image img {
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        opacity: 1;
        transition: all 0.2s ease-in-out;
        width: 100%; }
    .portfolio .card .card-header {
      background-color: #6ce7db;
      border-bottom: 1px solid turquoise;
      border-radius: 3px 3px 0 0;
      font-weight: bold;
      line-height: 1.5em;
      padding: 0.5em 0.75em;
      transition: all 0.2s ease-in-out; }
    .portfolio .card .card-copy {
      font-size: 0.9em;
      line-height: 1.5em;
      padding: 0.75em 0.75em; }
      .portfolio .card .card-copy p {
        margin: 0 0 0.75em; }
    .portfolio .card:focus, .portfolio .card:hover {
      cursor: pointer; }
      .portfolio .card:focus img, .portfolio .card:hover img {
        opacity: 0.7; }
    .portfolio .card:active {
      background-color: #6ce7db; }
      .portfolio .card:active .card-header {
        background-color: #6ce7db; }

.makeup {
  margin: 0 auto;
  background: black; }
  .makeup h2 {
    padding: 20px;
    color: white;
    background: black; }
  .makeup img {
    height: 200px; }

footer {
  background: mistyrose; }

/*# sourceMappingURL=output.css.map */
