//main colors
$makeup-background: linear-gradient(to right, silver, mistyrose, hotpink);
$portfolio-background:linear-gradient(to right, lightgrey, silver, thistle);

//fonts
$header-font: 'Red Moon Rising';
$default-font: sans-serif;

//breakpoints
$tablet-bp: 'screen and (min-width: 768px)';
$desktop-bp: 'screen and (min-width: 992px)';
