.about-me {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-around;
  height: 500px;
  background: mistyrose;
  padding: 1em 3em;
  .intro {
    flex-direction: column;
    padding: 5px;
    height: 400px;
    font-size: .9em;
    img {
      height: 80%;
      align-self: flex-end;
      border: solid 5px black;
      border-radius: 100%;
      opacity: 0.7;
      &:hover {
        opacity: 1;
        transform: rotate(-10deg);
      }
    }
  }
  .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    width: 80%;
    p {
      align-self: stretch;
      align-items: center;
      padding-top: 30px !important;
      min-width: 250px;
      letter-spacing: .1em;
      text-align: left;
      line-height: 1.8em;
      padding: 5px;
      span {
        font-weight: 700;
        font-size: 2em;
        text-align: left;
        }
      }

  }
}



  //   .gallery-item {
  //     overflow: hidden;
  //     position: relative;
  //     margin-top: 30px;
  //     border: 1px solid lightgrey;
  //
  //     animation: spin 1.5s ease-in-out forwards;
  //
  //     @include grid-column(12);
  //
  //     @include tablet-bp {
  //       @include grid-column(6);
  //     };
  //
  //     @include desktop-bp {
  //       @include grid-column(4);
  //     };
  //
  //     img {
  //       width: 100%;
  //       display: block;
  //
  //       &:hover + .content {
  //         bottom: 0px;
  //       }
  //     }
  //
  //     .content {
  //       position: absolute;
  //       padding: 10px;
  //       bottom: 0px;
  //       left: 0;
  //       width: 100%;
  //       transition: bottom .7s ease;
  //       background-color: rgba(darken($off-white, 30%), 0.9);
  //
  //       @include desktop-bp {
  //         bottom: -120px;
  //       }
  //     }
  //   }
  // }
  //
  //
  // @keyframes spin {
  //   0% {
  //     transform: rotate(0);
  //   }
  //   100% {
  //     transform: rotate(735deg);
  //   }
  // }
