.makeup {
  margin: 0 auto;
  background-image: url(../img/background-2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  h2 {
    padding: 20px;
    color: white;
    background: black;
  }
  img {
    height: 200px;
  }
}
