.portfolio {
  display: flex;
  flex-direction: row;
  position: relative;
  background-image: url(../img/background-1.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  border-top: 50px solid black;
  padding-top: 50px;
  padding-bottom: 50px;
  height: 1200px;

  h2 {
    padding: 20px;
    color: white;
    background: black;
    display: flex;
    align-self: flex-start;
    margin: 0 auto;
    font-size: 1.5em;
    a {
    color: #FFF;
    margin: 0px 10px;
    padding: 10px 15px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    text-decoration: none;
    &::before, &::after {
      position: absolute;
      opacity: 0;
      width: 0%;
      height: 2px;
      content: '';
      background: linear-gradient(to right, turquoise, silver, mistyrose, hotpink);
      transition: all 0.3s;
    }
    &::before {
      left: 0px;
      top: 0px;
    }
    &::after {
      right: 0px;
      bottom: 0px;
    }
    &:hover::before, &:hover::after {
      opacity: 1;
      width: 100%;
    }
    }
  }

  .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: absolute;
  top: 220px;
  }

  .card {
    background-color: $card-background;
    border: $card-border;
    border-radius: $base-border-radius;
    box-shadow: 0 2px 4px darken($base-background-color, 10%);
    cursor: pointer;
    flex-basis: 30%;
    flex-grow: 1;
    margin: 0 $card-margin $base-spacing $card-margin;
    position: relative;
    transition: all 0.2s ease-in-out;

    .card-image {
      background-color: $card-image-hover-color;
      max-height: 400px;
      overflow: visible;

      img {
        @include border-top-radius($base-border-radius);
        opacity: 1;
        transition: all 0.2s ease-in-out;
        width: 100%;
      }
    }

  .card-header {
    background-color: $card-header-background;
    border-bottom: $card-border;
    border-radius: $base-border-radius $base-border-radius 0 0;
    font-weight: bold;
    line-height: 1.5em;
    padding: ($base-spacing / 3) ($base-spacing / 2);
    transition: all 0.2s ease-in-out;
  }

  .card-copy {
    font-size: 0.9em;
    line-height: 1.5em;
    padding: ($base-spacing / 2) ($base-spacing / 2);

    p {
      margin: 0 0 ($base-spacing / 2);
    }
  }

  &:focus,
  &:hover {
    cursor: pointer;

    img {
      opacity: $card-image-hover-opacity;
    }
  }

  &:active {
    background-color: $card-background;

    .card-header {
      background-color: $card-background;
    }
  }
}

}
