* {
  margin: 0;
  padding: 0;
  text-align: center;
  box-sizing: border-box;
  &:after {
    box-sizing: border-box;
  }
  &:before {
    box-sizing: border-box;
  }
  // *:not(body):not(html) {
  //   border:1px dashed #000;
  // }
  header, section, footer {
    min-height: 100px;
  }
}

html, body, .container {
  height: 100%;
}
