@font-face {
  font-family: 'Red Moon Rising';
  src: url('../font/Red-Moon-Rising-3.0tf');
}

body {
  font-family: $default-font;
}

h1, h2 {
  font-family: $header-font;
}

h3, h5 {
  color: black;
  &:hover {
    color: darken(mistyrose, 10%);
  }
}

a {
  font-family: $header-font;
}

p {
  font-size: 16px;
  font-style: italic;
}
